<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于本站</title>
	
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="survey" class="font-weight-light">
    <div class="container tm-container-max-800">
        <div class="row">
            <div class="col-12">
                <header class="mt-5 mb-5 text-center">
                    <h1 class="font-weight-light tm-form-title">关于本站</h1>
                    <p class="tm-form-description">只是一个普通的在线投票网站，在这里可以简单的发起和参与一个投票</p>
                </header>
                    <div class="tm-bg-black tm-form-block">
                        <p class="mb-4">1. 基本的功能组成</p>
                        <ul class="ml-3">
                            <li>
                                <label>
                                    <span>A. 注册和登陆你的个人账户</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <span>B. 发布一个自定义的投票主题</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <span>C. 发表自己的评论</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <span>D. 查看投票的结果</span>
                                </label>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12">
                <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                    Copyright &copy; 2020 Company Name
                    
                    - Design:  Tooplate / More Templates <a href="#" target="_blank" title="在线投票">投票门户</a> - Collect from <a href="#" title="" target="_blank">GDIO</a></p>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>